.homeContent {
  height: 550px;
  min-height: 1000px;
}

/*Text*/
.leftContent {
  margin: auto;
  padding: 20px;
  width: 40%;
  color: #333333;
  font-size: 25px;
}

.rightContent {
  margin: auto;
}

.leftContent a {
  color: #333;
  transition: 0.2s;
}
.leftContent a:hover {
  color: #fcedd8;
}

.nav-buttons {
  padding-top: 550px;
  height: 50px;

}


ul {
  margin: auto;
  height: 50px;
  list-style: none;

}

li {
  display: inline-block;
  border: 2px solid #333;
  border-radius: 20px;
  padding: 10px;
  transition: 0.3s;
}

li:hover {
  cursor: pointer;
  background-color: #fcedd8;
}


.left-btn, .right-btn {
  width: 50px;
  height: 99.9%;
  position:static;
  font-size: 50px;
  color: #fcedd8;
  transition: .2s;
}

.left-btn:hover, .right-btn:hover {
  cursor: pointer;
  background-color: rgba(252, 237, 216, .5);
  color: #333;
}

.left-btn p, .right-btn p {
  padding-top: 230px;
}

.left-btn {
  float: left;
}
.right-btn {
  float: right;
}


/*Slideshow*/
.image{
  background-image: url("img/honning1.png");
	height: 600px;
	width: 800px; /*Forholdet er 0.75 * bredde */
	border: 1px solid #333;
	border-radius: 2px;
  margin: auto;
  right: 10%;
	animation-duration: 60s;
  /*transition: .5s;*/
	/*animation-name: slider;*/
	background-size: cover;
	animation-iteration-count: infinite;
}

@keyframes slider {
  0%{background-image: url("img/honning1.png");}
  10%{}
  12.5%{background-image: url("img/birokter1.png");}
  23%{}
  25%{background-image: url("img/biene.png");}
  36%{}
  37.5%{background-image: url("img/birokter2.png");}
  50%{background-image: url("img/birokter3.png");}
  62.5%{background-image: url("img/birokter4.png");}
  75%{background-image: url("img/honning3.png");}
  87.5%{background-image: url("img/honning2.png");}
  100%{background-image: url("img/honning4.png");}
}
